body, html {
  height: 100%
}
p {
  line-height: 2
}
.bgimg, .bgimg2 {
min-height: 100%;
background-position: center;
background-size: cover;
}
/* .bgimg {background-image: url(../images/background.png);} */
.bgimg2 {background-image: url(../images/background.png)}

body {
margin: 0;
color: #fff;
height: 100vh;
}
.container {
max-width: 1920px;
margin: 0 auto;
}
article {
padding: 1em;
margin-bottom: 0;
}
header,
footer {
margin-bottom: 0;
height: 36px;
}
.content {
width: calc(1000vw - 40);
background-color: white;
padding-top: 1em;
height: auto; 
margin-bottom: 0;
}
.content2 {
width: calc(1000vw -40);
background-color: white;
padding: 1em;
height: auto; 
margin-bottom: 0;
}
header {
grid-area: header;
}
footer {
grid-area: footer;
}
.grid-wrapper {
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: auto;
grid-gap: 0;
grid-template-areas: "left-half right-half";
}
.half-left {
grid-area: left-half;
background-color: #f5f5f5;
padding-bottom: 50px; 
}
.half-right {
grid-area: right-half;
background-color: #f5f5f5;
padding-left: 6em;
padding-right: 6em; 
padding-bottom: 50px; 
}
.grid-wrapper-equal-thirds {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: auto auto ;
grid-gap: 0;
grid-template-areas: "left-third middle-third right-third";
}
.grid-wrapper-equal-fourths {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-template-rows: auto auto auto auto ;
grid-column-gap: 0;
grid-template-areas: "one-fourth" "one-fourth" "one-fourth" "one-fourth";
}
.one-fourth {
background-color: white;
padding: 2em;
margin: 0 0 0 0 !important;
}
.left-third, .middle-third, .right-third {
background-color: #f5f5f5;
padding-left: 6em;
padding-right: 6em;
margin-bottom: -20px; 
}

@media screen and (max-width: 1024px) {
  .grid-wrapper {
  display: block;
  }
.left-half, .right-half {
  margin: 0px;
}
  .grid-wrapper-equal-thirds {
  display: block;
  }
.left-third, .middle-third, .right-third  {
  margin: 0 0 0 0 ;
}
.grid-wrapper-two-thirds {
  display: block;
}
.left-two-thirds, .right-one-third    {
  margin-bottom: 0;
}
.grid-wrapper-right-two-thirds {
  display: block;
  }
.left-one-third , .right-two-thirds {
  margin-bottom: 0;
}
.grid-wrapper-equal-fourths {
  display: block;
  }
}

.custom {
  position: relative;
  display: block; 
  box-sizing: inherit; 
}

h1.title {
  text-align: center; 
  margin: 50px 0 50px 0;
  color: white;
}